html,body{
    margin:0;
    padding:0;
    box-sizing : border-box;
}
h1{
    text-align: center;
}
#container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px;

}
#container img{
    width:200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px ;

}
#replace{
    
    display: block; 
    margin: 0 auto;
    background-color :#B3E5FC;
    padding:10px;
    
}